body{
    font-family: "Trebuchet MS";
    background-color: whitesmoke;
}

.container{
    position: relative;
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

.navbar{
    border-bottom: 1px solid black;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navbar li{
    display: inline;
}

.navbar li a{
    color: black;
    text-decoration: underline;
    padding: 14px 16px;
}

.navbar a{
    display: inline-block;
}
.navbar li a:hover{
    color: darkgrey;
}

.footer{
    position: absolute;
    width: 100%;
    border-top: 1px solid black;
    font-size: 15px;
}

.footer p{
    float: right;
}

.footer img{
    height: 30px;
    padding-top: 5px;
}

.footer a:hover{
    opacity: 0.7;
}
